<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!--开启mybatis缓存设置-->
		<setting name="cacheEnabled" value="true"/>
		
		<!--延迟加载的全局开关-->
		<setting name="lazyLoadingEnabled" value="false"/>
		
		<!--设置超时时间-->
		<setting name="defaultStatementTimeout" value="10000"/>

		<!--本地缓存机制-->
		<setting name="localCacheScope" value="STATEMENT"/>

		<!--配置和设定执行器-->
		<setting name="defaultExecutorType" value="SIMPLE"/>

		<!--开启驼峰转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		
		<!--允许JDBC支持自动生成主键,需要驱动的兼容-->
		<setting name="useGeneratedKeys" value="true"/>
	</settings>

</configuration>
