<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.seckill.mapper.SuccessKilledMapper">
    <insert id="insertSuccessKilled">
        <!-- ignore：主键冲突时，返回0，不报错 -->
        insert ignore into success_killed(seckill_id,user_id,user_phone,addressstate)
        values(#{seckillId},#{userId},#{user_phone},#{address},0)
    </insert>
    <select id="queryByIdWithSeckill" resultType="org.seckill.entity.SuccessKilled">
   select
		  sk.seckill_id,
		  sk.user_id,
		  sk.user_phone,
		  sk.create_time,
		  sk.state,
		  s.seckill_id "seckillGoods.seckill_id",
		  s.name "seckillGoods.name",
		  s.number "seckillGoods.number",
		  s.price "seckillGoods.price",
		  s.create_time "seckillGoods.create_time",
		  s.start_time "seckillGoods.start_time",
		  s.end_time "seckillGoods.end_time"
		from success_killed sk
		inner join seckill_goods s on sk.seckill_id = s.seckill_id
		where sk.seckill_id=#{seckillId} and sk.user_id=#{userId}
    </select>

</mapper>